version: "3.8"

services:

  database:
    image: mysql
    container_name: mysql-container
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci --init-connect='SET NAMES UTF8;' --innodb-flush-log-at-trx-commit=0
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: "example"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  maildev:
    image: maildev/maildev
    container_name: maildev-container
    command: bin/maildev --web 80 --smtp 25 --hide-extensions STARTTLS
    ports:
      - "8081:80"

  php:
    build:
      context: .
    container_name: php-container
    volumes:
      - type: bind
        source: .
        target: /var/www
        consistency: delegated
    ports:
      - "9000:9000"
    environment:
      DATABASE_URL: mysql://root:@localhost:3306/exemple?serverVersion=${MYSQL_VERSION:-13}

  nginx:
    image: nginx:stable-alpine
    container_name: nginx-container
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - database

  node:
    image: node:latest
    container_name: node-container
    command: bash -c 'yarn install && ./node_modules/.bin/webpack-dev-server --host 0.0.0.0'
    volumes:
      - ./:/var/www
    working_dir: /var/www/
    ports:
      - "8080:8080"

volumes:
  db-data: